<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <div th:replace="note :: noteStyle"></div>
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Administrator Table</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>


    <div th:replace="common::commomheader">

    </div>
</head>

<body class="sticky-header">

<section>
    <div th:replace="common :: leftmenu"></div>

    <div th:replace="common :: headermenu"></div>

    <!-- main content start-->
    <div class="main-content">



        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Administrator Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> Administrator Table</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Administrator Table
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="Administrator-table">
                                    <thead>
                                    <tr>
                                        <th>username</th>
                                        <th>id</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="administrator:${Administrators}">
                                        <td th:text="${administrator.username}">Trident</td>
                                        <td th:text="${administrator.id}">Internet
                                            Explorer 4.0
                                        </td>

                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>username</th>
                                        <th>id</th>


                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <div  class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    Buttons With Icon
                    <span class="tools pull-right">
                                        <a class="fa fa-chevron-down" href="javascript:;"></a>
                                        <a class="fa fa-times" href="javascript:;"></a>
                                     </span>
                </header>
                <div class="panel-body" style="display: block;">
                    <p>
                        <button class="btn btn-primary" type="button"><i class="fa fa-cloud"></i> Cloud</button>
                        <button class="btn btn-success" type="button"><i class="fa fa-eye"></i> View </button>
                        <button class="btn btn-info " type="button"><i class="fa fa-refresh"></i> Update</button>
                        <button class="btn btn-default " type="button"><i class="fa fa-cloud-upload"></i> Upload</button>
                        <button class="btn btn-warning" data-toggle="button">
                            <i class="fa fa-thumbs-up "></i>
                            89
                        </button>
                    </p>
                    <p>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-book"></i>
                        </button>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-cogs"></i>
                        </button>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-list"></i>
                        </button>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-desktop"></i>
                        </button>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-file"></i>
                        </button>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-lemon-o"></i>
                        </button>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-lock"></i>
                        </button>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-male"></i>
                        </button>
                        <button class="btn btn-default" data-toggle="button">
                            <i class="fa fa-map-marker"></i>
                        </button>
                    </p>


                    <div class="">
                        <button class="btn btn-block btn-primary" type="button"> <span class="pull-left"><i class="fa fa-facebook"></i></span> <span class="bold">Facebook</span></button>
                        <button class="btn btn-block btn-info" type="button"> <span class="pull-left"><i class="fa fa-twitter"></i></span> <span class="bold">Twitter</span></button>
                        <button class="btn btn-block btn-danger" type="button"> <span class="pull-left"><i class="fa fa-google-plus"></i></span> <span class="bold">Google +</span></button>
                        <a  th:href="@{/registration}" class="btn btn-block btn-default" type="button"> <span class="pull-left"><i class="fa fa-flickr"></i></span> <span class="bold">Add New User</span></a>
                    </div>
                </div>
            </section>

        </div>
        <div th:replace="note :: noteBody"></div>




        <!--footer section start-->
        <footer>
            2021 &copy; AdminEx by 仙王
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<div th:replace="common :: commonscript"></div>

<!--Administrator table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--Administrator table initialization -->
<script src="js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>
<div th:replace="note :: noteScript"></div>

</body>


</html>
