<!DOCTYPE html>
<!--解决idea thymeleaf 表达式模板报红波浪线-->
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>BorrowedBook</title>

    <!--BorrowedBook-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>


    <div th:replace="common::commomheader">

    </div>
</head>

<body class="sticky-header">

<section>
    <div th:replace="common :: leftmenu"></div>

    <div th:replace="common :: headermenu"></div>

    <!-- main content start-->
    <div class="main-content">



        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                BorrowedBook
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> BorrowedBook</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            BorrowedBook
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>bookid</th>
                                        <th>userid</th>
                                        <th>ISBN</th>
                                        <th>name</th>
                                        <th class="hidden-phone">borrowedTime</th>
                                        <th>操作</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="borrowedBook:${borrowedBooks}">
                                        <td th:text="${borrowedBook.bookid}">Trident</td>
                                        <td th:text="${borrowedBook.userid}">Internet
                                            Explorer 4.0
                                        </td>
                                        <td th:text="${borrowedBook.ISBN}">Win 95+</td>
                                        <td th:text="${borrowedBook.name}">Win 95+</td>
                                        <td th:text="${borrowedBook.borrowedTime}">Win 95+</td>
                                        <td><a th:if="${permission eq borrowedBook.userid}" th:href="@{/book/return/{id}(id=${borrowedBook.bookid})}" class="btn btn-default " type="button"><i class="fa fa-cloud-upload"></i> 归还</a></td>

                                    </tr>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>bookid</th>
                                        <th>userid</th>
                                        <th>ISBN</th>
                                        <th>name</th>
                                        <th class="hidden-phone">borrowedTime</th>

                                        <th>操作</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2021 &copy; AdminEx by 仙王
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<div th:replace="common :: commonscript"></div>

<!--BookBorrowedBook-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--BookBorrowedBook initialization -->
<script src="js/dynamic_table_init.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

</body>
</html>
