<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>AdminX</title>

  <!--icheck-->
  <link href="js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="css/clndr.css" rel="stylesheet">


  <div th:replace="common :: commomheader">

  </div>
</head>
<audio src="audio/南浔 - 我想念那个不下雪的冬天（翻自 金志文）.mp3" autoplay ></audio>
<!-- <meta http-equiv="refresh" content="8;url=aa.html">  -->

<canvas id="snow-flake-app"></canvas>


<script  src="js/script2.js"></script>

<body class="sticky-header">

<section>
    <div th:replace="common :: leftmenu"></div>

    <div th:replace="common :: headermenu"></div>


    

</section>

<div th:include="common :: commonscript">

</div>



<!--common scripts for all pages-->
<script src="js/scripts.js"></script>


</body>
</html>
